
//- --------------------------------------------------------
//- Base
//- --------------------------------------------------------


html
  font-size: ($p/16) * 100%
  width: 100%

  *
    box-sizing: border-box

body
  font-weight: 400
  width: 100%

  h1, h2, h3, h4, h5
    margin-top: 0

  h1
    font-size: em($h1)
    font-weight: 300
    color: $grey

    +media('tablet')
      font-size: em($h2)

  h2
    font-size: em($h2)
    font-weight: 300
    color: $grey

    +media('tablet')
      font-size: em($h3)

  h3
    font-size: em($h3)
    font-weight: 300
    color: $mid-grey

    +media('tablet')
      font-size: em($h4)

  h4
    font-size: em($h4)

    +media('tablet')
      font-size: em($h5)

  h5
    font-size: em($h5)

    +media('tablet')
      font-size: em($p)

  p
    font-size: em($p)

  a
    text-decoration: none

  a, button
    &:focus
      outline: none
      -webkit-box-shadow: 0px 0px 4px 0px $focus
      box-shadow: 0px 0px 4px 0px $focus
