$focus = #6fd2f1
$theme-color = #7dc855

$soft-blue = #b4c5cc
$light-blue = #99d6ea

$light-grey = #cccccc
$hover-grey = #F1F1F1


$white = #fff
$black = #000

$h1 = 52
$h2 = 32
$h3 = 22
$h4 = 18
$h5 = 16
$p  = 14

$gutter = 60px
$mob-gutter = 30px
$border-radius = 4px
$nav-height = 62px

$transition = 0.3s ease


