doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles/main.min.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css')

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    .nav#nav
      button#burger Show Menu
      ul#main-nav-list
        li.drop-parent
          button.chev donate
          ul.drop
            li 
              a(href="#") Where does the money go?
            li 
              a(href="#") Meet our supporters
            li 
              a(href="#") Sponsorship Opportunities
        li.drop-parent
          button.chev contact
          ul.drop
            li 
              a(href="#") Contact Info
            li 
              a(href="#") Careers
            li 
              a(href="#") Tenant Services
        li.drop-parent
          button.chev about
          ul.drop
            li 
              a(href="#") About Us
            li 
              a(href="#") Meet The Team
            li 
              a(href="#") Join The Team
        li.drop-parent.search-parent
          button.search search
          .drop.search-drop
            form
              .search-field
                input(type="text" placeholder="TYPE HERE TO SEARCH")
                button.search-cta Execute Search
    script(src='scripts/main.min.js')
    script(type='text/javascript').
      Main.init();